.location__web-site_url {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #AAAAAA;
    margin: 0;
}

@media screen and (max-width: 1023px) {
    .location__web-site_url {
        line-height: 12px;
    }
}